faden.synctex.gz(busy)
memoir-article-styles.sty
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
test-blx.bib
test.bcf
test.fdb_latexmk
test.fls
test.run.xml
test1.pdf
